@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Comic+Relief:wght@400;700&family=Dosis:wght@200..800&family=Federant&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+JP&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Playwrite+RO:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Qahiri&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

@theme {
 --font-sans: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #367AFF;
  --color-primary-dark: #0000CA;
  --color-primary-bg: #e0f2fe;
  
  --radius-xl: 1.5rem;
  --radius-2xl: 2.5rem;
  --radius-3xl: 3.5rem;

  --color-bg-main: #E8F1FF;
  --color-sidebar-active: #ffffff;
}

@layer utilities {
  .concave-corner-tr {
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
  }
  .concave-corner-tr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-main);
    border-top-right-radius: 25px;
  }

  .concave-corner-br {
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
  }
  .concave-corner-br::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-main);
    border-bottom-right-radius: 25px;
  }

  /* Custom scrollbar for a cleaner look */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}


@layer base {
  *, ::before, ::after {
    font-family: var(--font-sans) !important;
  }
  body {
    font-family: var(--font-sans);
  }
}